<% 
    show = set_song.setlist.show
    venue = set_song.setlist.show.venue

    minutes = 0
    seconds = 0

    unless set_song.duration.nil?
        minutes = (set_song.duration / 60).floor
        seconds = set_song.duration % 60
    end
 %>

<a 
    class="flex cursor-pointer justify-between mb-1 hover:bg-base-200 transition rounded items-center" 
    href="/<%= set_song.setlist.show.slug %>" 
>
  <span class="w-16 align-middle pl-3"><%= set_song.position %>.&nbsp;</span>

  <span class="align-middle w-2/5 text-lg text-black dark:text-white"><%= set_song.song.name %></span>
  
  <span class="pr-8 py-2 w-2/5 whitespace-nowrap">
    <span class="block text-black dark:text-white"><%= show.date.strftime("%Y-%m-%d") %><%=raw '&mdash;' unless show.title.blank? %><%= show.title %></span>
    <span class="block text-sm"><%= [venue.name, venue.city, venue.region, venue.country.name].reject(&:blank?).join(', ') %></span>
  </span>
  
  <span class="w-16 align-middle text-end text-black dark:text-white pr-3"><%= format('%02d', minutes) %>:<%= format('%02d', seconds) %></span>
</a>