<div class="container mx-auto mt-8 px-5">
  <h2 class="text-3xl font-bold mb-8 text-center text-black dark:text-white">
      20 Minute Jams
  </h2>
  
  <div class="bg-base-100 rounded-xl shadow-xl py-5 px-2">
    <div class="table w-full">
      <% @jams.each do |jam| %>
        <% show = jam.setlist.show %>
        <% venue = jam.setlist.show.venue %>
        
        <% minutes = (jam.duration / 60).floor %>
        <% seconds = jam.duration % 60 %>
        
        <a class="table-row  justify-between mb-1 hover:bg-base-200 transition rounded" href="/<%= jam.setlist.show.slug %>">
          <span class="table-cell align-middle pl-3"><%= jam.position %>.&nbsp;</span>

          <span class="table-cell align-middle w-2/5 text-lg text-black dark:text-white"><%= jam.song.name %></span>
          
          <span class="table-cell pr-8 py-2 min-w-max-content whitespace-nowrap">
            <span class="block text-black dark:text-white"><%= show.date.strftime("%Y-%m-%d") %><%=raw '&mdash;' unless show.title.blank? %><%= show.title %></span>
            <span class="block text-sm"><%= [venue.name, venue.city, venue.region, venue.country.name].reject(&:blank?).join(', ') %></span>
          </span>
          
          <span class="table-cell align-middle text-end text-black dark:text-white pr-3"><%= format('%02d', minutes) %>:<%= format('%02d', seconds) %></span>
        </a>
      <% end %>
    </div>
  </div>
</div>
