<% content_for :meta_title, "#{@date} #{@month_name.capitalize} on Gizz Tapes" %>

<div class="container mx-auto mt-8 px-5">
    <div class="flex mb-4">
        <div class="bg-base-200 rounded-box w-full mx-4 md:mx-8 lg:w-auto lg:mx-auto">
            <ul class="menu menu-horizontal justify-center">
                <% @months.each_with_index do |month, idx| %>
                    <li><a href="/<%= month.downcase %>" class="<%= 'bg-primary hover:bg-primary text-white dark:text-black' if idx + 1 == @month %>"><%= month %></a></li>
                <% end %>
            </ul>
        </div>
    </div>

    <div class="flex mb-8">
        <div class="bg-base-200 rounded-box w-full mx-4 md:mx-8 lg:w-auto lg:mx-auto">
            <ul class="menu menu-horizontal justify-center">
                <% @days.each do |day| %>
                    <li><a href="/<%= @month_name.downcase %>/<%= day %>" class="<%= 'bg-primary hover:bg-primary text-white dark:text-black' if day == @date.to_i %>"><%= day.ordinalize %></a></li>
                <% end %>
            </ul>
        </div>
    </div>

    <h2 class="text-3xl font-bold mb-3 text-center text-black dark:text-white">
        <%= @date %> <%= @month_name.capitalize %>
    </h2>
    
    <h3 class="text-2xl font-bold mb-8 text-center">
        <%= @shows.length %> show<%= 's' unless @shows.length == 1 %>
    </h3>

    <div class="card bg-base-100 shadow-xl mb-5">
        <div class="card-body py-5 px-3">
            <div class="responsive-grid">
                <% @shows.each do |show| %>
                    <%= render "featured_show" , show: show %>
                <% end %>
            </div>
        </div>
    </div>
</div>
