<div class="container mx-auto mt-8 px-5">
  <div class="flex mb-8">
      <div class="bg-base-200 rounded-box w-full mx-4 md:mx-8 lg:w-auto lg:mx-auto">
          <ul class="menu menu-horizontal justify-center">
              <% @months.each_with_index do |month, idx| %>
                  <li><a href="/<%= month.downcase %>" class="<%= 'bg-primary hover:bg-primary text-white dark:text-black' if idx + 1 == @month %>"><%= month %></a></li>
              <% end %>
          </ul>
      </div>
  </div>

  <h2 class="text-3xl font-bold mb-8 text-center text-black dark:text-white">
      <%= @month_name.capitalize %>
  </h2>

  <div class="card bg-base-100 shadow-xl mb-5">
    <div class="card-body py-5 px-3">
      <div class="columns-1 md:columns-3 xl:columns-4">
        <% @days.each do |day| %>
          <a 
            href="/<%= @month_name.downcase %>/<%= day.day %>" 
            class="flex justify-between items-center px-2 py-1 hover:bg-base-200 transition rounded"
          >
            <span class="text-black dark:text-white"><%= day.day.ordinalize %></span>
            <span class="text-sm"><%= day.show_count %> show<%= 's' unless day.show_count == 1 %></span>
          </a>
        <% end %>
      </div>
    </div>
  </div>
</div>
