<div 
    data-controller="show"
    class="transition" 
    <% if @show.color.present? %>
        style="background-image: linear-gradient(
            rgba(<%= @show.color %>, 0.75),
            transparent 50%,
            transparent
        );"
    <% end %>
    >
    <div class="container max-w-6xl mx-auto pt-4 px-5">
        <div class="lg:flex lg:gap-x-8">
            <div class="lg:max-w-md">
                <!-- bg-base-100 -->
                <div class="p-4 bg-white dark:bg-neutral bg-opacity-25 dark:bg-opacity-25 rounded-xl mb-3 lg:mb-0">
                    <div class="block sm:flex lg:block items-center">
                        <% if @show.poster_url.present? %>
                            <img 
                                src="<%= @show.poster_url %>" 
                                class="mb-6 cursor-pointer mx-auto sm:mx-0 max-h-72 md:max-h-96 lg:max-h-none lg:w-full"
                                onclick="show_poster_modal.showModal()"
                            />
                        <% end %>
                        
                        <div class="flex flex-col mx-auto">
                            <h2 class="text-3xl font-bold text-center mb-2">
                                <a href="/<%= @show.date.strftime("%B/%-d").downcase %>" class="link link-hover link-primary"><%= @show.date.strftime("%-d %B") %></a>, 
                                <a href="/<%= @show.date.strftime("%Y") %>" class="link link-hover link-primary"><%= @show.date.strftime("%Y") %></a>
                            </h2>
                            
                            <% unless @show.title.blank? %>
                            <h3 class="text-2xl font-bold text-center mb-2"><%= @show.title %></h3>
                            <% end %>
                            
                            <a href="/<%= @show.date.strftime("%Y") %>#<%= @show.tour.name.parameterize %>" class="block text-center link link-hover link-primary mb-2"><%= @show.tour.name %></a>
                            <small class="block text-center mb-6"><%= @show.venue.name %> &bull; <%= [ @show.venue.city, @show.venue.region, @show.venue.country&.name ].reject{|s|s.blank?}.join(', ') %></small>
                        </div>
                    </div>

                    <!-- <dl class="grid grid-cols-2">
                        <dt class="font-bold">Tour</dt>
                        <dd><a href="/<%= @show.date.strftime("%Y") %>#<%= @show.tour.name.parameterize %>" class="link link-hover link-primary"><%= @show.tour.name %></a></dd>

                        <dt class="font-bold">Venue</dt>
                        <dd><%= @show.venue.name %></dd>

                        <dt class="font-bold">Location</dt>
                        <dd><%= [ @show.venue.city, @show.venue.region, @show.venue.country.name ].compact.join(', ') %></dd>
                    </dl> -->

                    <% unless @show.notes.blank? %>
                    <div class="px-3 text-black dark:text-white mb-6">
                        <%=raw @show.notes %>
                    </div>
                    <% end %>

                    <strong class="block text-center mb-2">
                        <% if @total_seconds > 0 %><%= @hours %> hour<%= 's' unless @hours == 1 %>, <%= @minutes %> minute<%= 's' unless @minutes == 1 %><% end %>
                        <% if @total_seconds > 0 and @songs > 0 %> &bull; <% end %>
                        <% if @songs > 0 %><%= @songs %> song<%= 's' unless @songs == 1 %><% end %>
                    </strong>

                    <% if @show.songfishPermalink.present? %>
                        <a href="https://kglw.net/setlists/<%= @show.songfishPermalink %>" target="_blank" class="block text-center link link-primary link-hover">View stats on KGLW.net</a>
                    <% end %>
                </div>
            </div>

            <div class="grow">
                <div class="flex mb-3">
                    <div class="grow content-center">
                        <!-- <div class="label">
                            <label class="label-text text-xs">Select a recording:</label>
                        </div> -->
                        <% if @show.recordings.where(is_active: true).count == 1 %>
                            <% recording = @show.recordings.where(is_active: true).first %>
                            <span class="badge badge-primary"><%= recording.recording_type.name %><%= ' by ' + (recording.taper&.name || 'unknown') unless recording.recording_type.name == 'SBD' %></span> 
                            <span class=""><%= recording.id %></span>
                        <% else %>
                            <select 
                                class="select w-full" 
                                data-action="show#selectRecording"
                                data-show-target="recording"
                                <%= @show.recordings.where(is_active: true).count == 1 ? 'disabled' : '' %>
                            >
                                <% @show.recordings.where(is_active: true).each do |recording| %>
                                    <option value="<%= recording.id %>"><%= recording.recording_type.name %><%= ' by ' + (recording.taper&.name || 'unknown') unless recording.recording_type.name == 'SBD' %>: <%= recording.id %></option>
                                <% end %>
                            </select>
                        <% end %>
                    </div>
                    <div class="flex items-center pl-6 px-3">
                        <button class="btn btn-primary btn-circle" data-action="show#playFullShow" title="Play full show">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                                <path fill-rule="evenodd" d="M4.5 5.653c0-1.427 1.529-2.33 2.779-1.643l11.54 6.347c1.295.712 1.295 2.573 0 3.286L7.28 19.99c-1.25.687-2.779-.217-2.779-1.643V5.653Z" clip-rule="evenodd" />
                            </svg>                                                 
                        </button>
                    </div>
                </div>
                
                <% @show.recordings.where(is_active: true).each do |recording| %>
                        <!-- &bull; <%= @show.venue.name %> &bull; <%= @show.venue.city %>, <%= @show.venue.region %>, <%= @show.venue.country.name %> -->
                    <div 
                        data-controller="playlist" 
                        data-playlist-id="<%= recording.id %>"
                        data-playlist-title="<%= @show.date %><%=raw '&mdash;' if @show.title.present? %><%= @show.title %>"
                        data-playlist-thumbnail="<%= @show.poster_url %>"
                        class="hidden"
                    >
                        <% recording.recording_files.where("name LIKE :ext", ext: "%#{recording.preferred_format}").each_with_index do |file, idx| %>
                            <a class="track" 
                                data-action="playlist#playTrack" 
                                data-track-title="<%= (file.title || file.name).gsub('->', '→') %>" 
                                data-recording-url="/<%= @show.slug %>#<%= recording.id %>"
                                href="<%=raw file.url %>">
                                <small><%= idx + 1 %></small>
                                <span><%= (file.title || file.name).gsub('->', '→') %></span>
                                <small><%= Time.at(file.length).strftime("%-M:%S") %></small>
                            </a>
                        <% end %>

                        <div class="card bg-white dark:bg-neutral bg-opacity-25 dark:bg-opacity-25 mt-5">
                            <div class="card-body pb-0 pt-5 px-5">
                                <h3 class="card-title mb-2 mx-auto text-black dark:text-white">
                                    <%= recording.is_lma ? 'Live Music Archive' : 'Community Audio' %> Upload Details
                                </h3>

                                <dl class="columns-2 my-3">
                                    <div class="break-inside-avoid-column">
                                        <dt class="text-xs">Identifier</dt>
                                        <dd class="text-black dark:text-white mb-3">
                                            <a target="_blank" class="link link-hover link-primary" href="https://archive.org/details/<%= recording.id %>"><%= recording.id %></a>
                                        </dd>
                                    </div>

                                    <% unless recording.taper.nil? %>
                                        <div class="break-inside-avoid-column">
                                            <dt class="text-xs">Taper</dt>
                                            <dd class="text-black dark:text-white mb-3"><%= recording.taper.name %></a></dd>
                                        </div>
                                    <% end %>

                                    <%#<dt>Transferer</dt>
                                    <dd> recording.transferer </dd>%>
        
                                    <% unless recording.source.blank? %>
                                        <div class="break-inside-avoid-column">
                                            <dt class="text-xs">Source</dt>
                                            <dd class="text-black dark:text-white mb-3"><%= recording.source %></dd>
                                        </div>
                                    <% end %>
        
                                    <% unless recording.lineage.blank? %>
                                        <div class="break-inside-avoid-column">
                                            <dt class="text-xs">Lineage</dt>
                                            <dd class="text-black dark:text-white mb-3"><%= recording.lineage %></dd>
                                        </div>
                                    <% end %>
        
                                    <div class="break-inside-avoid-column">
                                        <dt class="text-xs">Upload Date</dt>
                                        <dd class="text-black dark:text-white mb-3"><%= recording.uploaded_at.strftime("%Y-%m-%d") %></dd>
                                    </div>
                                </dl>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>

<dialog id="show_poster_modal" class="modal">
    <div class="modal-box p-3 h-full w-full"> 
        <form method="dialog">
          <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <img src="<%= @show.poster_url %>" class="h-full cursor-pointer" onclick="show_poster_modal.showModal()" />
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
  </dialog>