<a href="/<%= show.slug %>" class="basis-0 grow hover:bg-white/5 transition py-3 px-2 rounded-xl text-center h-fit">
    <div class="indicator w-full">
        <%# <span class="indicator-item badge badge-primary shadow" style="margin-right: 15%;margin-top: 8%;">1hr35</span> 
        <span class="indicator-item badge badge-secondary shadow" style="margin-right: 15%;margin-top: 20%;">7 tapes</span>
        <span class="indicator-item badge badge-neutral shadow" style="margin-right: 15%;margin-top: 32%;">SBD</span> %>

        <span class="indicator-item badge badge-neutral bg-opacity-60 backdrop-blur shadow transform-none m-3">
            <%= show.recordings.where(is_active: true).count %> tape<%= 's' unless show.recordings.where(is_active: true).count == 1 %>  </span>
        <img class="rounded-xl" src="<%= show.poster_url || (asset_path 'missing.png') %>" />
    </div>

    <% if show.title.blank? %>
        <h4 class="text-primary mt-1"><%= show.date %></h4>
    <% else %>
        <h4 class="text-primary mt-1"><%= show.date %>&mdash;<%= show.title %></h4>
    <% end %>

    <small>
        <%= show.venue.name %> &bull; 
        <%= [show.venue.city, show.venue.region, show.venue.country.name].reject(&:blank?).join(', ') %>
    </small>
</a>
