<!DOCTYPE html>
<html lang="en" class="bg-zinc-200 dark:bg-zinc-900">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title><%= content_for(:title) || "Gizz Tapes 2" %></title>
    
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= vite_client_tag %>
    <%= vite_javascript_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%# vite_stylesheet_tag "application.css", media: "all", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>

    <%= yield :head %>
  </head>

  <body>
    <%= render "application/navbar" %>

    <main 
      data-controller="favourites"
      data-action="player:toggleFavourite@window->favourites#togglePlayerFavourite"
    >
      <%= yield %>
    </main>

    <%= render "application/footer" %>

    <%= render "application/login_modal" %>

    <%= render "application/player" %>

    <script type="text/javascript">
			window.goatcounter = {
				path: window.location.host + window.location.pathname,
				no_onload: true
			};
		</script>

		<script data-goatcounter="https://kglw.goatcounter.com/count" src="//gc.zgo.at/count.js"></script>
  </body>
</html>
